<div id="scroller"
    ngxInfiniteScroller
    strategy="scrollingToBottom"
    (onScrollDown)="onScrollDown()"
    >
  <div class="news"
      *ngFor="let item of news">
    {{item.title}}
  </div>
  <!-- <p class="tag is-warning" *ngIf="page.done | async">I ran out of boats!</p> -->
  <app-loading-spinner *ngIf="loading | async"></app-loading-spinner>
</div>
<!-- <p class="tag is-warning" *ngIf="page.done | async">I ran out of boats!</p> -->
<!-- <app-loading-spinner *ngIf="loading | async"></app-loading-spinner> -->
